.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .item {
        transition: 0.2s ease-in-out;
        img {
            width: 200px;
            height: 300px;
        }

        .btn-buy {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;

            button {
                width: 70px;
                height: 25px;
                cursor: pointer;
            }
        }
    }

    .item:hover {
        transform: scale(1.1);
    }

    .link{
        text-decoration: none;
        cursor: pointer;
        color: black;
    }
}