.list {
    
    .product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        
        .item {
            transition: 0.2s ease-in-out;
            img {
                width: 200px;
                height: 300px;
            }
    
            .btn-buy {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
    
                button {
                    width: 100px;
                    height: 25px;
                    cursor: pointer;
                }
            }
            p{
                width: 200px;
            }
        }
    
        .item:hover {
            transform: scale(1.05);
        }
    
        .link{
            text-decoration: none;
            cursor: pointer;
            color: black;
        }
    }
}