.cart {
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
    padding: 50px 0;

    @media(max-width:767px){
        .cart{
            margin: 3vh auto;
        }
        img{
            width: 50px;
        }
    }
    .total {
        display: flex;
        font-size: 24px;
        font-weight: 600;
        justify-content: space-between;
        margin: 0px 50px;

        p {
            color: #999;
        }
        .pay{
            color: #000;
        }

    }

    .item-in-card {
        margin: 20px 50px;
        .test {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .counter {
                margin: 0 10px;
                
                .name {
                    color: #000;
                    font-size: 24px;
                    font-weight: 600;
                    width: 400px;
                }
                @media screen and (max-width: 767px) {
                    .name {
                        width: 100px;
                    }
                    
                }




            }

            .btn {
                display: flex;
                gap: 10px;
                margin-right: 20px;
                
            }
            
            .price {
                font-style: oblique;
                font-size: 20px;
            }


            .btn-buy {

                .remove-btn {
                    background-color: #fff;
                    border: none;
                    color: #999;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }


    }

    .empty{
        text-align: center;
        font-size: 24px;
        color: #999;
        
    }
    .bottom{
        display: flex;
        justify-content: space-between;
        .back{
            margin: 0px 30px;
            font-size: 20px;
    
            .name{
                text-decoration: none;
                color: #000;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                width: 150px;
            }
        }
        .payment{
            margin: 0px 50px;
            .btn-pay{
                background-color: #28a745;
                border: none;
                color: #fff;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 20px;

            }
            .btn-pay:hover{
                background-color: #3ee265;
            }
            .disabled{
                background-color: #28a745;
                border: none;
                color: #fff;
                padding: 10px 20px;
                border-radius: 5px;
                font-size: 20px;
                pointer-events: none;
                opacity: 0.5;
                
            }
            
        }
    }


    img {
        width: 130px;
    }

}